<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    {% block head %}
      <meta name="google-translate-customization" content="96c7ad0d7eb6b3a7-87bb34ecb48b7391-g228f975e9d61747a-f"></meta>
      <title>{% block title %}{{ SITENAME }} | {{ SITESUBTITLE }}{% endblock title %}</title>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css' />
      <link href='http://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'/>
      <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/icons.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css"/>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>

      <script src="{{ SITEURL }}/theme/js/emailer.js"></script>

      <style type="text/css">
          #response { display:none; padding: 5px;}
          .success { background-color: #30EB8E;}
          .error { background-color: #E98C8F;}
      </style>
      <meta charset="utf-8" />
      {% if FEED_ATOM %}
        <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
    {% endblock head %}
  </head>

  <body id="index">
    <!-- header -->
    <header class="siteheader">
      <!-- site image -->
      {% if PROFILE_IMAGE_URL %}
        <div class= "siteimage">
          <a class="nodec" href={{ PROFILE_IMAGE_URL }}>
            <img width="200" height="200" src={{ PROFILE_IMAGE_URL }}>
          </a>
        </div>
      {% endif %}

      <div class = "sitebanner">
        <h1><a class="sitetitle nodec" href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <h3 class ="sitesubtitle">{{ SITESUBTITLE }}</h3>
        <!-- nav -->
        <div class="menu-left">
          <ul>
            <!-- services icons -->
            {% if EMAIL_ADDRESS %}
              <li><a class="nodec icon-mail-alt" href="mailto:{{ EMAIL_ADDRESS }}"></a></li>
            {% endif %}
            {% if GITHUB_ADDRESS %}
              <li><a class="nodec icon-github" target="_blank" href="{{ GITHUB_ADDRESS }}"></a></li>
            {% endif %}
            {% if SO_ADDRESS %}
              <li><a class="nodec icon-stackoverflow" target="_blank" href="{{ SO_ADDRESS }}"></a></li>
            {% endif %}
            {% if TWITTER_ADDRESS %}
              <li><a class="nodec icon-twitter" target="_blank" href="{{ TWITTER_ADDRESS }}"></a></li>
            {% endif %}
            {% if FB_ADDRESS %}
              <li><a class="nodec icon-facebook" target="_blank" href="{{ FB_ADDRESS }}"></a></li>
            {% endif %}
            {% if LINKEDIN_ADDRESS %}
              <li><a class="nodec icon-linkedin" target="_blank" href="{{ LINKEDIN_ADDRESS }}"></a></li>
            {% endif %}
            {% if FEED_RSS %}
              <li><a class="nodec icon-rss" target="_blank" href="/{{ FEED_RSS }}"></a></li>
            {% endif %}
          </ul>
          <script type="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: '{{ GOOGLE_ANALYTICS }}'}, 'google_translate_element');
}
          </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
        <nav class="menu-right">
          <ul>
            <!-- menu items-->
            {% for title, link in MENUITEMS %}
              <li><a class="nodec" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            <!--pages-->
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
      </div> <!-- sitebanner -->
    </header>
    <hr>
    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer>
      <p>
      © {{ AUTHOR }} ({{ STARTYEAR }} - {{ YEAR }}), All website content and code are under license <a target="_blank" href="{{ LICENSE_URL}}"> {{LICENSE_NAME }}</a>.
        <!--
        Generated by <a href= "http://docs.getpelican.com/">Pelican</a> with
        <a href="http://github.com/porterjamesj/crowsfoot">crowsfoot</a> theme.
        -->
      </p>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
      ga('send', 'pageview');

    </script>
    </footer>
  </body>
</html>
